

@{
    var data = ViewData["userdata"] as List<Historia>;
}
 
<h1>@ViewBag.CookieNombre</h1>
<h1>@ViewBag.CookieId</h1>

<div style="width: 50%; float: left;">
    <h1></h1>
</div>

<form method="get" asp-action="Search">
    <div class="group">
        <input placeholder="Search" name="searchString" type="search" class="input">
    </div>
</form>

    @model List<Empleado>

<table class="table table-hover">
    <thead>
        <tr>
        <td><b>Id</b></td>
        <td><b>Nombre</b></td>
        <td><b>Apellido</b></td>
        <td><b>Hora entrada</b></td>
        <td><b>Hora salida</b></td>
        <td><b>Options</b></td>
        <td></td>
    </tr>
    </thead>

 @foreach(var tuki in data)
    {
        <h1>@tuki.Id</h1>
        <h1>@tuki.HoraEntrada</h1>
        <h1>@tuki.HoraSalida</h1>
        <h1>@tuki.IdEmpleado</h1>
    }

    

</table>
<div>
    <a class="btn btn-primary" asp-controller="Empleados" asp-action="Create">Crear Empleados</a>
</div>

<a class="btn btn-danger btn-sm" asp-controller="Login" asp-action="Index">Salir</a>

