


<div style="width: 50%; float: left;">
    <h1>Users</h1>
</div>

<form method="get" asp-action="Search">
    <div class="group">
        <input placeholder="Search" name="searchString" type="search" class="input">
    </div>
</form>



<table class="table table-hover">
    <thead>
        <tr>
        <td><b>Id</b></td>
        <td><b>Nombre</b></td>
        <td><b>Apellido</b></td>
        <td><b>Correo</b></td>
        <td><b>Options</b></td>
    </tr>
    </thead>
    @foreach (var empleado in Model){
    <tr>
        <td>@empleado.Id</td>
        <td>@empleado.Nombre</td>
        <td>@empleado.Apellido</td>
        <td>@empleado.Correo</td>
        <td>
            <a class="btn btn-warning" asp-controller="Empleados" asp-action="Edit" asp-route-id="@empleado.Id">Editar</a> |
            <a class="btn btn-info" asp-controller="Empleados" asp-action="Details" asp-route-id="@empleado.Id">Detalles</a> |
            <a class="btn btn-danger" asp-controller="Empleados" asp-action="Delete" asp-route-id="@empleado.Id">Eliminar</a>
        </td>
    </tr>
    }
</table>
<div>
    <a class="btn btn-primary" asp-controller="Empleados" asp-action="Create">Crear Empleados</a>
</div>

<a class="btn btn-danger btn-sm" asp-controller="Login" asp-action="Index">Salir</a>

